aniso8601==9.0.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
dxcam==0.0.5
Flask==3.0.3
Flask-Cors==5.0.0
Flask-MySQLdb==2.0.0
Flask-RESTful==0.3.10
greenlet==3.0.3
idna==3.9
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mouse==0.7.1
mysql-connector==2.2.9
mysqlclient==2.2.4
numpy==2.1.1
opencv-python==4.10.0.84
pytz==2024.1
pywin32==306
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.32
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
